* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
}

.menu {
    background-color: aqua;
}

.food {
    background-color: lemonchiffon;
}

.drink {
    background-color:lightblue;
}

.dessert {
    background-color: lightpink;
}