.Menu {
    background-color: rgb(13, 239, 255);
    font-size: bold;
   
}

.Food{
    background-color: rgba(255, 228, 192, 0.944);
}

.Drink{
    background-color: rgba(147, 187, 230, 0.944);
}

.Dessert{
    background-color: rgba(255, 144, 184, 0.944);
}
